@import "../../../variables.scss";

form {
    display: flex;
    flex-direction: column;
    gap: $spacing-base *3;

    .input {
        display: flex;
        flex-direction: column;
        gap: $sizing-base;

        label {
            font-weight: 600;
            font-size: 16px;
            text-transform: capitalize;
        }

        input {
            outline: none;
            border: none;
            border-radius: $radius-base;
            font-size: 16px;
            height: $clickzone-min-size;
            padding: 0 $padding-base;
        }
    }
}