@import "../../../variables.scss";

.manual-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include font-family-head;

  form {
    input {
      border: 1px solid rgba($color: #000000, $alpha: 0.2)
    }
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  @include font-family-head;

  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-base*4;
    flex-grow: 1;
    overflow: hidden;

    &.scroller {
      &::after {
        display: none;
      }
    }

    &::after {
      content: "";
      background: linear-gradient(0deg, rgba($bg-default-initial, 100%) 0%, rgba($bg-default-initial, 0%) 100%);
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      pointer-events: none;
    }

    .filters {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: $spacing-base*4;
      height: 30%;
      padding: $padding-base*2;

      form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        input {
          border: 1px solid rgba($color: #000000, $alpha: 0.2);
          border-radius: $radius-base;
        }
      }
    }

    .list {
      height: 70%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      margin: 0;
      padding: 0;
      gap: $spacing-base*2;
      overflow: hidden;
      flex-grow: 1;
      position: relative;
      transition: all 1s ease-in-out;

      &.open {
        height: fit-content;
        overflow: auto;

        .item {
          &:nth-child(n+16) {
            display: unset;
          }
        }
      }

      button {
        position: absolute;
        bottom: $padding-base*4;
        z-index: 1;
      }

      .item {
        display: flex;
        padding: $padding-base*3;
        background-color: $bg-elevated-initial;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        border-radius: $radius-base;
        align-items: stretch;
        list-style: none;
        position: relative;
        width: 18%;
        min-width: max-content;
        cursor: pointer;

        &:nth-child(n+16) {
          display: none;
        }

        .wagon {
          background-color: $bg-info-initial;
          color: $fg-info-initial;
          justify-self: auto;
          padding: $padding-base;
          border-radius: $radius-base;
          order: -1;
        }

        .status {
          position: absolute;
          right: $padding-base;
          top: $padding-base;
          height: $sizing-base*4;
          width: $sizing-base*4;
          border-radius: $radius-base;
          background-color: $bg-info-initial;
        }

        &:hover {
          background-color: $bg-elevated-hover;
        }

        a {
          color: $fg-default-initial;
          text-decoration: none;
          display: flex;
          gap: $spacing-base*3;
          flex-direction: column;
          align-items: baseline;

          .field {
            display: flex;
            flex-direction: column;
            gap: $spacing-base;

            .value {
              display: inline;
            }

            .highlight {
              color: red;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}