@import './variables.scss';

* {
  box-sizing: border-box;

  html,
  body {
    box-sizing: border-box;
    margin: 0;
    background-color: $bg-default-initial;
    color: $fg-default-initial;
    height: 100%;
}
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-family-head;
    margin: 0;
    display: flex;
}

@mixin section-hint($bg-color, $content) {
  position: relative;

  &:hover {
    &::after {
      content: $content;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 3px 6px;
      font-family: monospace;
      font-weight: bold;
      font-size: xx-small;
      background-color: $bg-color;
      color: white;
      opacity: 0.42;
      border-bottom-left-radius: 4px;
    }
  }
}